/* Quiz.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}



.quiz-container {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.language-selection {
  text-align: center;
  margin-top: 50px;
}

.level-selection {
  text-align: center;
  margin-top: 30px;
}

.level-buttons .btn {
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px 20px;
}

.language-buttons .btn {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px;
}

.question-section {
  margin-top: 30px;
}

.question-count {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.question-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.score-section {
  text-align: center;
  margin-top: 50px;
}

.btn-primary, .btn-outline-primary {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-primary:hover {
  background-color: #0b7dda;
  border-color: #0b7dda;
}

.btn-outline-primary {
  color: #2196f3;
  border-color: #2196f3;
}

.btn-outline-primary:hover {
  background-color: #2196f3;
  color: #fff;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.correct-answer {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.incorrect-answer {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
