.form-container {
    background-color: red;
    padding: 20px;
    border-radius: 7px;
    margin: 0 auto;

    height: 65%;
    width: 65%;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .form-col {
    flex: 1;
    margin-right: 15px;
  }
  
  .form-col:last-child {
    margin-right: 0;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  