.form-container {
    background-color: white;
    padding: 20px;
    margin: 0 auto;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    height: 65%;
  }

  .form-paragraphe {
    color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .form-paragraphe div {
    margin-top: 3px;
    margin-bottom: 30px;
    height: 0.5px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .form-col {
    margin-right: 15px;
    margin-bottom: 7.5px;
    flex: 1;
  }

  .form-col:last-child {
    margin-right: 0;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  .form-input::placeholder,
  .form-textarea::placeholder
  {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
  }

  .form-input {
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;

    &:hover {
       border: 1px solid rgba(0, 0, 0, 0.3);
     }
  }

  .form-textarea {
    height: 100%;
    width: 98%;
    border-radius: 5px;
    border: 1px solid #ccc;

    resize: none;

    &:hover {
       border: 1px solid rgba(0, 0, 0, 0.3);
     }
    
  }
  
  .form-button {
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    border: 1px solid rgba(22, 175, 204, 0);

    width: 100%;

    background-color: rgb(22, 175, 204);
    color: white;

    &:hover {
      background-color: rgba(22, 175, 204, 0.6);
      border: 1px solid rgba(22, 175, 204, 1);
      color: black;
    }
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }