/* .home, .profile, .job-offers, .interviews, .planning, .articles, .training, .games, .training-articles {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .home h1, .profile h1, .job-offers h1, .interviews h1, .planning h1, .articles h1, .training h1, .games h1, .training-articles h1 {
    color: #2c3e50;
  }
  
  .interviews nav ul, .training nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .interviews nav ul li, .training nav ul li {
    margin: 10px 0;
  }
  
  .interviews nav ul li a, .training nav ul li a {
    color: #2980b9;
    text-decoration: none;
  }
  
  .interviews nav ul li a:hover, .training nav ul li a:hover {
    text-decoration: underline;
  }
   */

.dashboard-container{
  padding: 20px;
}

.cards-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.card{
  width: 200px;
  height: 120px;
  padding: 20px 15px;
  background-color: #5271ff;
  border-radius: 15px;
  color: white;
}

.applications-container{
  margin-bottom: 50px;
}

.stats > canvas:nth-child(2){
  padding: 0;
}

.chart-articles{
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
}

.applications-list{
  font-size: 0.8em;
  color: #5271ff;
}

.article-container img{
  width: 120px;
  height: 90px;
}

.article-container{
  display: flex;
}

.article-info{
  margin-left: 15px;
}

.stats h4{
  margin-bottom: -40px;
}